@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("font/flaticon.ttf") format("truetype"),
    url("font/flaticon.woff") format("woff"),
    url("font/flaticon.woff2") format("woff2"),
    url("font/flaticon.eot#iefix") format("embedded-opentype"),
    url("font/flaticon.svg#flaticon") format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
  content: "";
}

.flaticon-weekly-calendar-outline-event-interface-symbol:before {
  content: "";
}

.flaticon-copy-two-paper-sheets-interface-symbol:before {
  content: "";
}

.flaticon-cube-of-notes-stack:before {
  content: "";
}

.flaticon-winds-lines-weather-symbol:before {
  content: "";
}

.flaticon-big-map-placeholder-outlined-symbol-of-interface:before {
  content: "";
}
